* {
    margin: 10;
    padding: 1 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: Young Serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 12px;
    width: 350px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image img {
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
    max-width: 100%;
}